<div class="container-fluid" id="fluid-container" width=100% height=100%>
  <nav class="navbar navbar-expand-lg navbar-light" id="nav-bar">
    <a class="navbar-brand" href="#">BRAND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light" id="shopping-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid" id="jumbotron-container">
    <div class="container">
      <h1>Add Your Grocery Items</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter grocery item" id="txtSearch" aria-label="Username" aria-describedby="button-addon1" [(ngModel)]="item.name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="add-to-cart-icon" (click)="addItemToList()" >
             <!-- <img src="../../assets/shopping-bag (1).svg" /> -->
             <i class="fas fa-cart-plus"></i>
          </button>
        </div>
      </div>
      <span [hidden]="hideErrorMsg" id="errmsg" class=" float-left">{{errorMsg}}</span>

    </div>
  </div>

  <br>

<div id="displayitems">
  <span *ngIf="list">
    Number of items in your list: {{list.length}}
  </span>
  <button [hidden]="hideClearAllText" class="btn text-danger float-right hover-cursor" type="button" id="clearAllItemsBtn" (click)="clearAllItemsFromList()">
    Clear All
  </button>
  <br>
  <br>
  <div>
    <!--Begin strikethrough info-->
    <div style="width:80%; margin:auto;">
      <p [hidden]="hideStrikeThroughMsg" class="text-info">
        <small>{{strikeThroughMessage}}</small>
      </p>
    </div><!--End strikethrough info-->
  <ul id="show-list" class="list-group">
    <li *ngFor="let item of list" class="list-group-item">
      <span [ngClass]="{'strike': item.strike}">
            {{item.name}}
          </span>
          <span>
            <button class="btn text-secondary float-right hover-cursor" type="button" id="strikeListItemBtn" (click)="strikeListItem(item)">
              <i class="fas fa-strikethrough"></i>
            </button>
          </span>
      <span>
        <button type="button"class="btn text-danger float-right hover-cursor" id="deleteitembutton" (click) = "deleteItemFromList(item)">
            <i class="far fa-trash-alt"></i>
        </button>
      </span>
    </li>
  </ul>
</div>

  <div>
    <!-- <span [hidden]="hideErrorMsg" class="text-danger float-left">{{errorMsg}}</span> -->
    <span [hidden]="hideduplicateMsg" class="text-secondary float-left">{{duplicateMsg}}</span>
    <span [hidden]="hidevaliditemMsg" class="text-secondary float-left">{{validitemMsg}}</span>
    <span [hidden]="hidedeleteitemsuccessMsg" class="text-secondary float-left">{{deleteitemsuccessMsg}}</span>
  </div>

</div>

